body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: #929d92;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #333;
    font-size: 28px;
}

header p {
    color: #333;
    font-size: 16px;
}

.support-categories {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.category {
    background: #f3f7f5;
    padding: 20px;
    text-align: center;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.category h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}


